// Body
$body-bg: #f8fafc;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;

$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.minicajas {
    height: 10vh;
}

.post {
    position: relative
}

button,
#quitar {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.border-emoji {
    border: black solid 2px;
    border-radius: 25px;
    padding: 10px;
}

.lista-contactos {
    font-size: 0.7em;
}

.linea-inferior {
    border-bottom: 1px solid #b8b8b8;
    margin-bottom: 20px;
    text-align: center;
}

.separar {
    padding: 3%;
}

.separar-left {
    padding-left: 2%;
}

.img {
    padding: 2%;
}

.boton-mas {
    position: absolute;
    top: 40vh;
    left: 70%;

}

.boton-menu {
    position: absolute;
    top: 40vh;
    left: 73%;
}

.izq {
    text-align: end;
}

.separar {
    position: relative;
    bottom: 10px;
    right: 10px;
}

.reseñas {
    width: 100%;

}

.bajar {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    height: 100px;
}

.color {
    background-color: #b8b8b8;
}

.nombre {
    font-size: 2em;
}

.caja-text {
    height: 10%;
    padding: 5px;
}

.a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #b8b8b8;
    font-size: 20px;
}



.boton-posts {
    display: flex;
    flex-direction: row;
    background-color: #0d6efd;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.borde {
    background-color: #0d6efd;
    color: #0d6efd;
}

.imagen-posts {
    border: 2px white;
}


.boton-black {
    display: flex;
    flex-direction: row;
    border: white 2px solid;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 25px;
    border-bottom: solid 1px rgb(209, 208, 208);
    margin-bottom: 10px;
    vertical-align: middle;
}

.espacio {
    display: flex;
    justify-content: end;
    margin: 0%;
    //margin-right: 2px;
}


.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 100%;
}

.frame {
    width: 100%;
    height: 100%;
    padding: 0%;
}

html {
    width: 100%;
    height: 100%;
    padding: 0%;
}

.todo {
    display: flex;
    flex-direction: row;
}

.pequeña {
    display: flex;
    flex-direction: column;
}

.texto {
    padding-bottom: 50px;
    padding-top: 5px;
    margin: 0%;
    font-size: 12px;
    text-overflow: ellipsis;
    text-align: justify;
    border: solid 1px rgb(209, 208, 208);

}

.vertical {
    display: flex;
    vertical-align: middle;
    align-items: center;
    align-content: center;
}

.img-posts {
    width: 43vh;
    height: 43vh;
    display: block;
    margin: auto;
}

.fija {
    position: sticky;
}

main {
    margin: 0%;
    padding: 0%;
}

.posts {
    width: 100%;
    margin-bottom: 20px;
}

.div-foto-post {
    width: 100%;
    height: 100%;
    align-items: center;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;

}

.about-us {
    border: 2px solid black;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.quadrado-us {
    border: 2px solid black;
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.div-perfil {
    height: 100%;
    width: 100%;
}

.about-titulo {
    padding-top: 5px;
    font-weight: bold;

}

.about-text1-imgL {
    padding-top: 5px;
    margin-left: 30px;
    text-align: justify;
    font-weight: bold;
}


.about-text1-imgR {
    padding-top: 5px;
    margin-left: 30px;
    text-align: justify;
    font-weight: bold;
}

.about-text2-imgL {
    margin-left: 30px;
    text-align: justify;
    font-size: x-large;
}

.about-text2-imgR {
    margin-left: 30px;
    text-align: justify;
    font-size: x-large;
}

.about-prueba {    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.about-imgR {
    height: 70vh;
    width: 60vh;
    align-items: center;
    vertical-align: middle;
    padding-top: 5px;
    padding-right: 10px;
    filter: grayscale(80);
}

.about-imgR:hover {
    filter: saturate(150%);
    transition: width 2s, height 2s, transform 6s;
    transform: rotate(1080deg);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 15px 15px #0634ff;
    -webkit-box-shadow: 0px 0px 15px 15px #00fad9;
}

.about-imgL {
    height: 70vh;
    width: 60vh;
    align-items: center;
    vertical-align: middle;
    padding-top: 5px;
    filter: grayscale(80);
    transition: 2s;
}


.about-imgL:hover {
    filter: saturate(150%);
    transform: translateX(-30%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 15px 15px #0634ff;
    -webkit-box-shadow: 0px 0px 15px 15px #00fad9;
}

#navlist {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
  }