// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
//colores

.contactos{
    border:black solid 2px;
    border-radius: 25px;
    padding: 10px;
}